body {
    background: rgb(218, 214, 214);
}

.dashboard{
    display: grid;
    grid-template-areas: 
    "search"
    "main";
    margin-top: 3em;
    text-align: center;
  }

  .banner {
    padding: 3.4em;
    /* height: 7.7em; */
    /* width: 100%; */
    background-color: whitesmoke;
    text-align: center;
    font-size: 4em;
    font-family: 'Pattaya', sans-serif;
  }
  
  .search{
    grid-area: "search";
    box-shadow: 2px 2px whitesmoke;
    border: solid 1px lightgrey;
    font-family: 'Heebo', sans-serif;
    width: 40%;
    height: 2em;
    margin: auto;
    margin-bottom: 2em;
    padding: .25em;
  }
  
  .main{
    padding-right: 100px;
    padding-left: 100px;
    grid-area: 'main';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    margin: auto;
  }

  h2 {
       font-family: 'Questrial', sans-serif !important; 
       font-weight: bold !important;
  }

  p {
    font-family: 'Questrial', sans-serif !important; 
  }